body{
    background-color: #ccddff;
    
}
.app{
    text-align: center;

}
.main{
    background-color: rgb(7, 2, 71);
    justify-content: center;
    width: 50%;
    margin-left: 26%;
    margin-top: 5%;
    text-align: center;
    padding: 20px;
}
input[type=text], select{
    width: 80%;
    padding: 12px 20px;
    margin: 30px 0;
    display: inline-block;
    border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
    
}
.button{
    width: 15%;
    background-color: green;
    color:white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.button:hover{
    background-color: rgb(10, 211, 10);
}
.header{
    width: 100%;
    padding: 12px 20px;
    color:white;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.List-heading{
    color: black;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    background-color: cadetblue;
    width: 60%;
}
.listData{
    color: black;
    font-size: 20px;
    background-color: lightgreen;
    text-align: left;
    padding-left: 30px;
    width: 53%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin: 10px;
    border-radius: 10px;
}
.btn-position{
    position: relative;
    left: 11%;
    top: -70px;
    margin-left: 30px;
}